.cart-page {
    background-color: #fafafa;
    font-family: 'Kameron', serif;
    padding: 0px 40px;
    text-align: center;
    min-height: 80vh;
    padding-bottom: 120px;
}

.cart-title {
    font-size: clamp(26px, 3vw, 32px);
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-empty {
    font-size: 18px;
    color: #7e7e7e;
}

.cart-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 850px;
    margin: 0 auto 40px;
}

.cart-item {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    justify-content: space-between;
}

.cart-checkbox {
    transform: scale(1.3);
    margin-right: 10px;
    cursor: pointer;
}

.cart-image {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.cart-info {
    flex: 1;
    text-align: left;
    margin-left: 15px;
}

.cart-price {
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

.cart-quantity {
    display: flex;
    align-items: center;
    gap: 8px;
}

.quantity-btn {
    background: #e0e0e0;
    border: none;
    border-radius: 6px;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.quantity-btn:hover {
    background: #ccc;
}

/* .btn {
    background-color: #ffc300;
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
} */

.btn.remove {
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.btn.remove:hover {
    background: transparent;
    transform: scale(1.05);
}

.btn.remove img {
    width: 24px;
    height: 24px;
}

/* .btn.remove:hover img {
    filter: invert(28%) sepia(96%) saturate(7483%) hue-rotate(356deg) brightness(93%) contrast(122%);
} */

.btn-remove-selected {
    color: #4c4c4c;
    transition: transform 0.2s ease;
}

/* .btn-remove-selected:hover {
    transform: scale(1.01);
} */

.btn.clear-all {
    background-color: #e0e0e0;
    color: #000;
}

.btn.clear-all:hover {
    background-color: #ccc;
}

.cart-summary {
    max-width: 850px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    gap: 20px;
}

.summary-info p {
    margin: 5px 0;
    font-size: 16px;
}

.summary-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn.checkout {
    background-color: #00c46a;
    color: #fff;
}

.btn.checkout:hover {
    background-color: #00a85a;
}