.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.spinner::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top: 4px solid #ffc300;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}