.favorites-page {
    background-color: #fafafa;
    font-family: 'Kameron', serif;
    padding: 0px 40px;
    text-align: center;
    min-height: 80vh;
}

.favorites-title {
    font-size: clamp(26px, 3vw, 32px);
    font-weight: bold;
    margin-bottom: 20px;
}

.favorites-empty {
    font-size: 18px;
    color: #7e7e7e;
}

.favorites-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.favorites-grid {
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
    justify-content: center;
    margin-top: 30px;
}

.favorite-item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
}

.favorite-checkbox {
    position: absolute;
    left: 10px;
    transform: scale(1.3);
}

.favorite-checkbox input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* .favorite-item {
    position: relative;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s ease;
}

.favorite-item.selected {
    border-color: #ffc400;
    background-color: #fff5da;
} */

.favorites-actions {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.btn {
    background-color: #ffc300;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn.add-to-cart {
    background-color: #FFC300;
    color: #000000;
}

.btn.add-to-cart:hover {
    background-color: #FBB42E;
}

.remove-selected {
    color: #ff0000;
}

.btn.clear-all {
    background-color: #e0e0e0;
    color: #000;
}

.btn.clear-all:hover {
    background-color: #ccc;
}

.btn-unselect-all {
    color: #4c4c4c;
}


