.book-card {
    max-width: 278px;
    height: 614px;
    background-color: #fafafa;
    text-align: left;
    font-family: 'Kameron';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: hidden; */
}

.book-card__image {
    width: 100%;
    height: 428px;
    object-fit: cover;
    border-radius: 10px;
}

.book-card__rating {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    margin-top: 10px;
}

.book-card__star {
    width: 20px;
    height: 22px;
    opacity: 0.3;
    /* transition: 0.2s ease; */
}

.book-card__star.filled {
    opacity: 1;
}

.book-card__title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.book-card__author {
    font-size: 16px;
    color: #7E7E7E;
    margin-top: 5px;
}

.book-card__price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #003566;
}

.book-card__actions {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.book-card__btn {
    background-color: #FFC300;
    border: none;
    width: 240px;
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    align-self: flex-start;
}

.book-card__btn:hover {
    background-color: #FBB42E;
}

.book-card__btn.in-cart {
    background-color: #003566;
    color: #ffffff;
}


.book-card__like {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.book-card__like:hover {
    transform: scale(1.1);
}


